#logo {
    margin-bottom: 10px;
}

#extr-page #header {
    border-bottom: 4px solid #6a8bb1 !important;
}

#extr-page #header {
    height: 90px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}